.Header {
  width: calc(100% - 258px);
  padding: 20px;
  position: absolute;
  right: 0;
}
.headerLanguage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.downIcon {
  margin-left: 12px;
  font-size: 1.2rem;
  margin-top: 0px;
  color: var(--text2);
}
.lanBtn {
  color: var(--muteText);
  border-color: var(--text2);
}
.ENicon {
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: -2px;
}

.headerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.coinbtn {
  min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: var(--muteText);
  border-color: var(--text2);
}
.wbnbIcn {
  width: 17px;
}
.connectbtn {
  font-weight: 500;
  border: 2px solid var(--primaryColor);
  transition: 0.3s;
}
.connectbtn:hover {
  box-shadow: none;
}
.connectbtn > span {
  padding-top: 1px;
}
@media only screen and (max-width: 967px) {
  .Header {
    width: 100%;
    padding: 20px;
  }
  .headerRight {
    justify-content: flex-start;
  }
  .headerLanguage {
    margin-bottom: 15px;
  }
}
