.sidebar {
  width: 258px;
  height: 100vh;
  background: var(--bg2);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 1px solid #212652;
  backdrop-filter: blur(20px);
}
.sidebarHeader {
  display: flex;
  color: var(--text1);
}
.sidebarHeader > img {
  width: 60px;
  height: 75px;
}
.sidebarHeader > h2 {
  font-size: 1.5rem;
  line-height: 25px;
  padding: 12px;
}

.sidebarBody {
  margin-top: 50px;
}
.links {
  width: 100%;
  padding: 0px;
}
.links > li {
  width: 100%;
  margin-top: 10px;
}
.links > li > a {
  width: 100%;
  text-decoration: none;
  background: var(--bg1);
  padding: 8px 20px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: 1px solid var(--borderColor);
  font-size: 1.2rem;
  transition: 0.3s;
  color: var(--text1);
  position: relative;
}
.links > li > a:hover {
  background: var(--bg3);
  box-shadow: 0px 5px 10px var(--bg1);
  border-color: var(--primaryColor);
}
.links > li > a > span {
  padding-left: 10px;
  padding-top: 3px;
  font-weight: 400;
  font-size: initial;
}
.downArrow {
  position: absolute;
  right: 15px;
  top: 14px;
  color: var(--text2);
}
.moreDownArr {
  border-radius: 50%;
  border: 1px solid;
  padding: 2px;
}

/* footer */
.sidebarFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebarFooterUl {
  width: 65%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
.sidebarFooterUl > li > a {
  font-size: 1.2rem;
  color: var(--text2);
  transition: 0.3s;
}
.sidebarFooterUl > li > a:hover {
  color: var(--primaryColor);
}
.showSidebar {
  background-color: var(--bg1);
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 8px;
  position: fixed;
  right: 10px;
  top: 22px;
  z-index: 100;
  display: none;
}

@media only screen and (max-width: 967px) {
  .showSidebar {
    display: block;
  }
  .sidebar {
    transform: translateX(-300px);
    z-index: 10;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 56%);
    border-right: 1px solid rgb(221 221 221 / 14%);
    transition: 0.3s;
  }
  .toogleSidebar {
    transform: initial;
  }
}
